@model IEnumerable<FinalProjectMovies.Models.Movie>

@{
    ViewData["Title"] = "Top5";
}

<h2>Top5</h2>
<div class="col-sm-9 col-lg-9 col-md-9" style="margin-bottom:150px;">
    <div class="thumbnail">
        <h2 class="pull-left">"The wizard of oz"</h2>
        <img src="https://willmckinley.files.wordpress.com/2013/09/the-wizard-of-oz-1939-movie-poster.jpg">
        <div class="caption">
        </div>
        <h2 class="pull-left">"Titanic"</h2>
        <img src="https://estereoscopia3d.files.wordpress.com/2011/11/titanic-3d-poster.jpg">
        <div class="caption">
        </div>
        <h2 class="pull-left">"Bruno"</h2>
        <img src="https://i.jeded.com/i/bruno-brno.25877.jpg">
        <div class="caption">
        </div>
        <h2 class="pull-left">"Harry Potter and the deathly hallows"</h2>
        <img src="http://cdn.collider.com/wp-content/uploads/304979658-405x600.jpg">
        <div class="caption">
        </div>
        <h2 class="pull-left">"Lords of the rings"</h2>
        <img src="http://thesmartlocal.com/images/easyblog_images/1854/LOTF---TTT-poster-credit-to-Metropolitan-Festival-Orchestra.jpg">
        <div class="caption">
        </div>
    </div>
</div>